/* --------------------------------------------------------------------------------- */
/*#region GENERAL DEFAULTS  */
body {
    font: var(--fontweight-default) var(--fontsize-default) var(--fontfamily-default);
    columns: var(--clr-dark-grey);
}
/*#endregion GENERAL DEFAULTS  */
/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/*#region UTILITIES */ 
/* ------------------------------------------ */
/*#region aesthetic elements */
.flow > * + * {
    margin-top: var(--flow-spacing);
}
/*#endregion aesthetic elements */

/*#endregion UTILITIES */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region COMPOSITION */

/*#endregion COMPOSITION */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region BLOCKS: component specific rules */
/*#endregion BLOCKS: component specific rules */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region MEDIA QUERIES */
/* @media only screen and (max-width: 1000px) {

} */
/*#endregion MEDIA QUERIES */
/* --------------------------------------------------------------------------------- */