/* --------------------------------------------------------------------------------- */
/*#region GENERAL DEFAULTS  */
body {
    font: var(--fontweight-default) var(--fontsize-default) var(--fontfamily-default);
    color: var(--clr-dark-grey);
}
/*#endregion GENERAL DEFAULTS  */
/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/*#region UTILITIES */ 
/* ------------------------------------------ */

.flow > * + * {
    margin-top: var(--flow-spacing);
}

.ms_text-center {
    text-align: center;
}

.ms_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}


/*#endregion UTILITIES */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region COMPOSITION */

/*#endregion COMPOSITION */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region BLOCKS: component specific rules */
/* HEADER */

/* MAIN */
.ms_task-name.completed {
    text-decoration: line-through;
}

.ms_todo-task {
    cursor: pointer;

    /* ANIMATION */
    transition: opacity 200ms ease;
}

.ms_todo-task:hover {
    opacity: .5;
}
/*#endregion BLOCKS: component specific rules */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region MEDIA QUERIES */
/* @media only screen and (max-width: 1000px) {

} */
/*#endregion MEDIA QUERIES */
/* --------------------------------------------------------------------------------- */