/* --------------------------------------------------------------------------------- */
/*#region GENERAL DEFAULTS  */
body {
    font: var(--fontweight-default) var(--fontsize-default) var(--fontfamily-default);
    color: var(--clr-dark-grey);
}
/*#endregion GENERAL DEFAULTS  */
/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/*#region UTILITIES */ 
/* ------------------------------------------ */

.flow > * + * {
    margin-top: var(--flow-spacing);
}

.ms_text-center {
    text-align: center;
}

.ms_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}


/*#endregion UTILITIES */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region COMPOSITION */

/*#endregion COMPOSITION */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region BLOCKS: component specific rules */
/* HEADER */

/* MAIN */
.ms_todo-task {
    cursor: pointer;
}

.ms_task-name {
    opacity: 1;

    /* ANIMATION */
    transition: opacity 250ms ease;
}

.ms_task-name.completed {
    text-decoration: line-through;
    opacity: .3;
}

.ms_task-name:hover {
    opacity: .5;
}


.ms_task-container {
    max-width: 160px;
    margin: 0 auto;
    justify-content: space-between;
}


.ms_task-status.completed {
    color: var(--clr-accent);
}



.ms_task-remove {
    position: relative;
}

.ms_task-remove::after{
    content: 'Remove';
    font: var(--fontweight-default) var(--fontsize-default) var(--fontfamily-default);
    font-size: .6rem;
    background-color: var(--clr-white);
    padding: .4em;
    opacity: 0;

    /* POSITION */
    position: absolute;
        top: -1.5em;
        left: -4em;
}

.ms_task-remove:hover::after{
    opacity: 1;
}
/*#endregion BLOCKS: component specific rules */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region MEDIA QUERIES */
/* @media only screen and (max-width: 1000px) {

} */
/*#endregion MEDIA QUERIES */
/* --------------------------------------------------------------------------------- */